attrs
brotli
cffi
click
colorama
datadog
decorator
flasgger
flask
gevent
greenlet
gunicorn
importlib-metadata
importlib-resources
itsdangerous
jinja2
jsonschema
markupsafe
mistune
pkgutil-resolve-name
pycparser
pyrsistent
pyyaml
setuptools
six
typing-extensions
werkzeug
zipp
zope-event
zope-interface
